{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script>
    var colors = ['red','black', 'blue', 'yellow', 'green', 'orange', 'purple', 'pink']
    var id = Math.random();
    console.log(id);

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();

    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
    var socket = new WebSocket(
        'wss://project3-emilyxiao231877.codeanyapp.com/ws/draw');
      
    
    var path = new paper.Path();
    var colorindex = Math.floor(Math.random()*colors.length);
    path.strokeColor = colors[colorindex];
  
    var paths = {
      id: path
    }
  
    tool.onMouseMove = function(event) {
        // Create a new path every time the mouse is clicked
        path.add(event.point);
        var data = {
          "id": id,
          "x": event.point.x,
          "y": event.point.y,
          "color": colorindex
        }

        setTimeout(function() { 
          socket.send(JSON.stringify(data));
        }, 50);
    
    }
    
    socket.onmessage = function(received) {
        var got = JSON.parse(received.data);
        console.log(got);
        
        var idd = JSON.parse(got["id"]);
        console.log(idd);
      
        var x = JSON.parse(got["x"]);
        var y = JSON.parse(got["y"]);
        var color = JSON.parse(got["color"]);
      
        var p = new paper.Point(x, y);
      
        if (idd in paths) {
          paths[idd].add(p);
        } else {
          paths[idd] = new paper.Path();
          paths[idd].strokeColor = colors[color];
          console.log(paths[idd].strokeColor);
          paths[idd].add(p);
        }     
      
    }
    
    


</script>
</html>
